<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>input code</title>
</head>
<body>
    <form action="/downloadFile" method="post" id="form">
        <input type="hidden" th:value="code" name="code" id="code">
        <input type="hidden" th:value="${session.fileId}" name="file" id="file">
    </form>
</body>
<script type="text/javascript">
    var code=prompt("please input the code");
    document.getElementById("code").value = code;
    document.getElementById("form").submit();
</script>
</html>